<div class="animated fadeIn">
  <div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>Leads</strong>
        <small>Form</small>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="company">Full Name</label>
            <input type="text" class="form-control" id="company" placeholder="Enter your full name">
          </div>
          <div class="form-group col-lg-6">
            <label for="mobile">Mobile Number</label>
            <input type="number" class="form-control" id="mobile" placeholder="Enter your mobile number">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="email">Email Id</label>
            <input type="text" class="form-control" id="email" placeholder="Enter your email id">
          </div>
          <div class="form-group col-lg-6">
            <label for="address">Mobile Number</label>
            <input type="text" class="form-control" id="address" placeholder="Enter your address">
          </div>
        </div>  
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="city">City </label>
            <input type="text" class="form-control" id="city" placeholder="Enter your city ">
          </div>
          <div class="form-group col-lg-6">
            <label for="state">State </label>
            <input type="text" class="form-control" id="state" placeholder="Enter your state">
          </div>
        </div>  
        <div class="row">
          <div class="form-group col-lg-6">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Enter your country">
          </div>
          <div class="form-group col-lg-6">
            <label for="pincode">Pin Code</label>
            <input type="text" class="form-control" id="pincode" placeholder="Enter your pincode">
          </div>
        </div>     
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary col-lg-2"><i class="fa fa-dot-circle-o"></i> Submit</button>
        <button type="reset" class="btn btn-sm btn-danger float-right col-lg-2"><i class="fa fa-ban"></i> Cancel </button>
      </div>
    </div>
  </div><!--/.col-->
  </div>
  </div>